.draw-outer {
    margin: 1em;
    padding: 1em;
    width: $draw-width;
    height: $draw-height;
    border: 1px solid #ccc;

    .draw-canvas-outer {
        width: $draw-width - 2px;
        height: $draw-height - 2px;
        border: 1px solid #ccc;
    }

    .draw-canvas {
    }
}
